html {
    background-color: aliceblue;
    font-family: Palatino, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: 1280px;
    font-weight: bold;
    box-sizing: border-box;
}

div {
    margin: 10px;
    padding: 15px;
}
  
input {
    border: none;
    color: #333;
    background: transparent;
    border-bottom: 1px dotted black;
    margin: 5px;
}
 
input:focus {
    outline: none;
    border-color: #51CBEE;
}

button {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    margin: 5px;
    height: 40px;
    width: auto;
    font-weight: bolder;
}

button:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
